<h1> New Student </h1>

<%= form_with model: @student do |form| %>

  <div>
    <%= form.label :First_Name %><br>
    <%= form.text_field :first_name %>
  </div><br>

  <div>
    <%= form.label :Last_Name %><br>
    <%= form.text_field :last_name %>
  </div><br>

  <div>
    <%= form.label :Email %><br>
    <%= form.text_field :email %>
  </div><br>

  <div>
    <%= form.label :Address %><br>
    <%= form.text_field :address %>
  </div><br>

  <div>
    <%= form.label :Date_Of_Birth %><br>
    <%= form.text_field :dob %>
  </div><br>

  <%= form.submit "Submit"%>
<%end%>