<h1> Information </h1>
<h3><strong>First Name</strong><%=@student.first_name%><br>
<h3><strong>Last Name</strong></h3><%=@student.last_name%><br>
<h3><strong>Email</strong></h3><%=@student.email%><br>
<h3><strong>Address</strong></h3><%=@student.address%><br>
<h3><strong>Date Of Birth</strong></h3><%=@student.dob%><br>
<%= link_to "Back", root_path%> | <%= link_to "Edit", edit_student_path%>