<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    Dear <%=@add_student.first_name%>,

    We hope this email finds you well. We are writing to inform you that your data has been successfully added to our records. Thank you for providing the necessary information, and we are pleased to have you as a valued member of our community.
    
    Here are the details we have on file:
    
    Name: <%= @add_student.first_name %>
    Email: <%= @add_student.last_name %>
    Address: <%= @add_student.address %>
    Date of Birth: <%= @add_student.dob %>
    Rest assured that the information you have shared with us will be kept secure and will only be used for the purposes outlined in our privacy policy. If you have any concerns or would like to review or update your information, please do not hesitate to contact our support team at [support@email.com].
    
    We look forward to serving you and providing you with the best possible experience. If you have any questions or need any assistance, please feel free to reach out to us.
    
    Thank you once again for choosing us as your trusted service provider. We appreciate your business and look forward to a long-lasting relationship.
    
    Best regards,
    
    SR Technologies
    sarathore@bestpeers.com
  </body>
</html>